.container {
    display: flex;
    cursor: default;
    padding: 20px 0 20px 3px;
}

.container__active {
    border-left: 3px solid #3184FB;
    padding: 20px 0;
}

.avatar {

}

.content {
    margin-right: auto;
}

.name {
    color: #fff;
}

.message {
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
}

.additional {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 30px;
}

.time {
    font-size: 11px;
    color: #fff;
    opacity: 0.2;
}