.container {
    width: 100%;
    background-color: #EBEEF1;
}

.content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.qwe {
    width: 350px;
    padding: 30px;
    font-size: 25px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}