.container {
    min-width: 540px;
    height: 100%;
    border-right: 1px solid #DBDDDF;
}

.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    border-bottom: 1px solid #DBDDDF;
    height: 79px;
    background-color: #EBEEF1;
}

.userInfo {
    width: 410px;
    align-self: center;
    display: flex;
}

.username {
    font-size: 12px;
    color: #676D71;
    font-weight: bold;
    margin: 0 5px 0 30px;
}

.isTyping {
    font-size: 12px;
    color: #84898E;
}

.content {
    height: calc(100% - 210px);
    background-color: #EBEEF1;
    padding: 26px 0;
    overflow: scroll;
}

.textInput {
    padding: 23px;
    border: none;
    outline: none;
    width: 100%;
    margin: 10px;
    background-color: #FBFBFC;
    font-size: 14px;
}

.footer {
    height: 79px;
    background-color: #FBFBFC;
    border-top: 1px solid #DBDDDF;
    bottom: 0px;
    display: flex;
}