.container{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: calc(100% - 20px);
    background-color: #1D232A;
    padding: 10px 0 10px 10px;
}

.hamburger {
    padding-right: 10px;
    margin: 20px auto 40px auto;
}