.container{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
    background-color: #1e242a;
    padding: 10px 0 10px 10px;
}

.hamburger {
    padding-left: 22px;
    margin: 20px 0 40px 0;
}