.container {
    min-width: 230px;
    max-width: 230px;
    height: 100%;
    border-right: 1px solid black;
    background-color: #222830;
    color: #909497;
    cursor: default;
}

.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1512px) {
    .container {
        min-width: 359px;
        max-width: 359px;
        height: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    margin: 22px 22px 20px 31px;
    font-size: 18px;
}

.title {
    margin-right: auto;
    color: #fff;
}

.menuItem {
    margin: 0 20px;
    padding: 0 13px 0 10px;
    height: 36px;
    align-items: center;
    display: flex;
    font-size: 14px;
}

.menuItem__active {
    border-radius: 5px;
    background-color: #343C45;
}

.count {
    font-size: 11px;
}

.cathegoryTitle {
    margin-right: auto;
}